<launch>
  <!-- Enable sim time if needed -->
  <arg name="use_sim_time" default="false" />
  <arg name="plan_service" default="/run_hybrid_astar/plan_hybrid_path" />
  <arg name="set_params_service" default="/run_hybrid_astar/set_planner_params" />
  <arg name="planner_service_timeout" default="3.0" />
  <arg name="map_subscribe_enabled" default="false" />
  <arg name="node_name" default="center_articulation_planner_node" />

  <node pkg="center_articulation_planner_legacy"
        type="center_articulation_planner_node"
        name="$(arg node_name)"
        output="screen">
    <param name="use_sim_time" value="$(arg use_sim_time)" />
    <param name="plan_service" value="$(arg plan_service)" />
    <param name="set_params_service" value="$(arg set_params_service)" />
    <param name="planner_service_timeout" value="$(arg planner_service_timeout)" />
    <param name="map_subscribe_enabled" value="$(arg map_subscribe_enabled)" />

    <!-- Load all planner ROS topics and config path into the node's private namespace -->
    <rosparam command="load"
              file="$(find center_articulation_planner_legacy)/config/center_articulation_planner_params.yaml"
              subst_value="true" />
  </node>
</launch>
